html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
  color: $text;
  transition: all 0.3s;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: 'Quicksand', sans-serif;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.btn{
  &:hover{
    box-shadow: 0px 0px 10px 2px #2e96eb;
  }
  &:active{
    transform: scale(0.95);
  }
}